:root {
    --primary-color: #202020;
    --secondary-color: #3ea6ff;
    --border-color: #505050;
    --black-color: #303030;
}

.card-container {
    justify-content: start;
    align-items: start;
}

.text-light-text{
    color: var(--light-text-color);
}