.single-video {
    display: flex;
    gap: 2rem;
}
.single-video .video-content {
    flex: 70%;
}
.single-video .recommended-video {
    flex: 30%;
}

.single-video .video-content .video-frame {
    width: 100%;
    height: 400px;
}

.single-video .video-subsection {
    display: flex;
    justify-content: space-between;
}

.single-video .creator-name {
    color: var(--light-text-color);
    font-size: 2rem;
}
.single-video .video-action {
    display: flex;
    gap: 1rem;
}
.single-video .video-action > * {
    padding: 10px;
}
.single-video .video-action > *:hover {
    cursor: pointer;
}
